
body {
  font-family: $font-stack;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:active,
  &:link,
  &:visited {
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

input, textarea, keygen, select, button {
  font-family: inherit;
}
